.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(2, 2, 251, 0.55);
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100%;
    padding-left: 0;
  }

  .footer :nth-child(1){
    font-size: 30px;
    font-weight: bolder;
  }
  .footer :nth-child(2){
    
    font-weight: bolder;
    margin-top: -5px;
  }

  .footer :nth-child(3){
   
    font-weight: bolder;
    margin-top: -5px;
  }